{* Smarty *}
{assign var="title" value="Access denied | Fool online"}
	{include file="header.tpl"}
	{include file="top_navigation.tpl"}
		<h1>Access error</h1>
	<div class="alert alert-info">{$error_message}</div>
		{include file="footer.tpl"}