* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Default style */
body {
  width: 100%;
  height: 100%;
  background-color: #98c2f7;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* Errors */
.err-msg {
  color: red;
}

/* Do not show informationin the current block for the sighted user */
.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  height: 1px !important;
  border-width: 0 !important;
  border-style: none !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  left: -2px !important;
  top: auto !important;
}

/* Hide block */
.d-none {
  display: none !important;
}

/* Game info wrapper */
#game-info-wrapper {
  width: 100%;
  height: auto;
}

/* Make it to be the part of a page */
#game-info-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

/* trump card in game-info block */
#trump-card {
  width: 100px;
  height: 125px;
  float: left;
}

#trump-card-img {
  width: 100px;
  height: 125px;
}

/* Cards in deck counter */
#cards-in-deck {
  float: left;
  margin-right: 5px;
}

/* Make players block to occupy all remaining width */
#players {
  width: auto;
  float: left;
  word-wrap: break-word;
}

#players ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#players ul li {
  display: inline;
  padding-right: 5px;
}

#cards-in-hand-wrapper {
  margin: 0;
  padding: 0;
}

/* Cards are shown as row (overlapped) */
#cards-in-hand {
  display: -webkit-flex; /* Safari */
  display: flex;
  pointer-events: none; /* Make childs easy clickable */
}

.card-in-hand {
  width: 100px;
  height: 125px;
  margin-left: -50px;
  -webkit-transition: margin-left 0.3s ease;
transition: margin-left 0.3s ease;
  background-color: rgba(255, 0, 255, 0.2);
}

.card-in-hand:first-of-type {
  margin-left: 0;
}

.card-in-hand img {
  width: 100px;
    height: 125px;
      pointer-events: all; /* Make items clickable */
}

.card-in-play img {
  width: 100px;
  height: 125px;
}

table#cards-in-play-table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

#cards-in-play-table td {
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
}

.cards-in-play-overlap-top {
  position: absolute;
  top: -50px;
}

.card-transparent {
  opacity: 0.5;
}

.card-transparent:hover {
  opacity: 1;
}

.current-turn {
  color: red;
}

textarea {
max-height: 300px;
}

button {
   display: inline-block;
   padding: 15px 25px;
   font-size: 24px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: #4CAF50;
   border: none;
   border-radius: 15px;
   box-shadow: 0 9px #999;
}

button:hover {
   background-color: #3e8e41;
}

button:active {
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   transform: translateY(4px);
}
