{* Smarty *}
{assign var="title" value="Game rules"}
{include file="header.tpl"}
{include file="top_navigation.tpl"}
<main class="container">
    <h1>How to play Fool online</h1>
    <p>Info comes later.</p>
</main>
{include file="footer.tpl"}