{* Smarty *}
{assign var="title" value="Administration panel"}
{include file="header.tpl"}
{include file="top_navigation.tpl"}
<main class="container">
    <h1>Administration area</h1>
    <div class="list-group">
        <p>There are no actions created for this module yet.</p>
    </div>
</main>
{include file="footer.tpl"}